################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WhoIsInV2.slnx
/src/*/bin
/src/*/obj
